ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    border-radius: 5px;
}

li
{
    float: left;
}

li a 
{
    display: block;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:hover
{
    color: slategray;
    background-color: aliceblue;
}

div
{
    color: slategray;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}